body{
    background-color: antiquewhite;
}
header{
    background-color:wheat;
    border-style: inset;
    border-color: beige;
}

fieldset{
    border-style: dashed;
    border-color: black;
    background-color: orange;
    margin: auto;
    width: 60%;
    padding: 10px;
}
.center {

    margin: auto;
    width: 60%;
    padding: 10px;
  }
.contact{
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  .your-centered-div {
    max-width: 560px; /* you have to have a size or this method doesn't work */
    max-height: 315px;
    margin-right: auto;
    margin-left: auto;
    border: 8px outset #ddd;
   
}

.rounded float-center{
    padding: 10px;
    float: left;
}
.clear {
    clear: both;
  }